.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.istanbul {
    width: 45%;
    height: 45%;

}

.erzurum {
    width: 45%;
    height: 45%;

}

img {
    width: -webkit-fill-available;
}