<div class="right-container">
    <div class="right-container-navbar">
        <div class="navbar-tabs">
            <div class="today" (click)="onTodayClick()" [className]="today == true? 'today today-active':'today'">
                Today</div>
            <div class="week" (click)="onWeekClick()" [className]="week == true? 'week week-active':'week'">Week</div>
            <div class="underline" [className]="today == true? 'underline underline-today':'underline underline-week'">
            </div>
        </div>

    </div>
    <div class="right-container-data-box">
        @if (week == true) {
        <div class="right-container-week-cards">
            @for(day of weekData?.day; track day){
            <div class="card">
                <div class="card-day">{{day.day}} </div>
                <div class="card-temp-img"><img src="./../../assets/sun.png" alt=""> </div>
                <div class="card-temp-value"> <span class="temp-max">{{day.maxTemp}}°</span> <span
                        class="temp-min">{{day.minTemp}}°</span></div>
            </div>
            }
        </div>
        }


        @if (today == true) {
        <div class="right-container-today-cards">
            @for (data of todayData?.clocks; track $index) {
            <div>
                <div class="card">
                    <div class="card-day">{{ data.clock }} </div>
                    <div class="card-temp-img"><img src="./../../assets/sun.png" alt=""> </div>
                    <div class="card-temp-value">{{data.temp}}° </div>
                </div>
            </div>
            }
        </div>
        }

        <!-- Highlight Start -->
        <div class="right-container-todays-highlight">
            <div class="right-container-todays-highlight-title">Today's Highlight</div>
            <div class="right-container-todays-highlight-cards">
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV Index</div>
                    <div class="gauge">
                        <div class="gauge__body">
                            <div class="gauge__fill"></div>
                            <div class="gauge__cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value"> {{ todayData?.highlights?.uvIndex }} </div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Wind Status</div>
                    <div class="wind-status-value"> {{ todayData?.highlights?.wind }} <span class="unit">km/h</span>
                    </div>
                    <div class="wind-status-logo">
                        <img src="./../../assets/wind1.jpeg" alt="">
                    </div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Sunrise & Sunset</div>
                    <div class="sunrise-sunset-value">
                        <div class="sunrise">
                            <div class="sunrise-img">
                                <img src="./../../assets/up.png" alt="">
                            </div>
                            <div class="sunrise-time">{{ todayData?.highlights?.sunrise }} AM</div>
                        </div>
                        <div class="sunset">
                            <div class="sunset-img">
                                <img src="./../../assets/down.png" alt="">
                            </div>
                            <div class="sunset-time">{{ todayData?.highlights?.sunset }} PM</div>
                        </div>
                    </div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Humidity</div>
                    <div class="wind-status-value" style="align-self: self-start;margin-left: 20px;"> {{
                        todayData?.highlights?.humidityValue }} <sup class="unit">%</sup></div>
                    <div class="humidity-summary" style="align-self: self-start;margin-left: 20px;"> {{
                        todayData?.highlights?.humidityDescr}}
                        <span><fa-icon class="fa-xs" [icon]="getHumidityIcon(todayData?.highlights?.humidityValue)"
                                style="color: #42A6F4;"></fa-icon></span>
                    </div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Visibility</div>
                    <div class="wind-status-value" style="align-self: self-start;margin-left: 20px;">{{
                        todayData?.highlights?.visibilityValue}}<span class="unit">km</span></div>
                    <div class="humidity-summary" style="align-self: self-start;margin-left: 20px;"> {{
                        todayData?.highlights?.visibilityDescr}}
                        <span><fa-icon class="fa-xs" [icon]="getVisibilityIcon(todayData?.highlights?.visibilityDescr)"
                                style="color: #42A6F4;"></fa-icon></span>
                    </div>
                </div>
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Air Quality</div>
                    <div class="wind-status-value" style="align-self: self-start;margin-left: 20px;">{{
                        todayData?.highlights?.airQualityValue}}</div>
                    <div class="humidity-summary" style="align-self: self-start;margin-left: 20px;">{{
                        todayData?.highlights?.airQuailityDescr}}
                        <span><fa-icon class="fa-xs" [icon]="getAirQualityIcon(todayData?.highlights?.airQualityValue)"
                                style="color: #42A6F4;"></fa-icon></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Highlight End-->
    </div>
</div>